@charset "UTF-8";

/************* 범례 ****************/

/*map*/
.positionInfo1{position: absolute; top: 450px; left: 50px;}
.positionInfo2{position: absolute; top: 50px; left: 550px;}
.positionInfo3{position: absolute; top: 500px; left: 550px;}

/*legend*/
.legend{display:none; top:40px; left:5px; color: #2c3538; }
.legend ul{width: 182px;border:1px solid #e5e5e5;border-radius:8px;box-shadow:2px 2px 3px rgba(0, 0 , 0, .1);padding: 6px 6px;background-color:rgba(245, 247, 248, 0.6);}
.legend ul li{position:relative;display:inline-block;text-align: left;width: 150px;margin-top: 3px;padding: 5px  0px  5px 30px;list-style:none;background-color: #ffffff;text-shadow: none;font-size: 0.95em;}
.legend ul li:FIRST-CHILD{margin-top: 0;}
.legend ul li > .total{display:inline-block;position:absolute;right:0;width: 40px;padding-left: 20px;background: url(../image/legendLine.png) 0 3px no-repeat;color: #666;}

.legend ul li.rdpq{background: #fff url(../image/roadIconS.png) 6px 5px no-repeat;}
.legend ul li.rdpq.over{background: #009abf url(../image/normalIcon.png) 15px 9px no-repeat; color:#fff;}
.legend ul li.rdpq.over > .total.over{display:inline-block; position:absolute; right:0; width:55px; padding-left:20px; background: url(../image/roadLine.png) 0 3px no-repeat; color: #fff;}

.legend ul li.bsis{background: #fff url(../image/blocksIconS.png) 6px 5px no-repeat;}
.legend ul li.bsis.over{background: #f9745c url(../image/normalIcon.png) 15px 9px no-repeat; color:#fff;}
.legend ul li.bsis.over > .total.over{display:inline-block; position:absolute; right:0; width:55px; padding-left:20px; background: url(../image/blocksLine.png) 0 3px no-repeat; color: #fff;}

.legend ul li.area{background: #fff url(../image/localIconS.png) 6px 5px no-repeat;}
.legend ul li.area.over{background: #bfc428 url(../image/normalIcon.png) 15px 9px no-repeat; color:#fff;}
.legend ul li.area.over > .total.over{display:inline-block; position:absolute; right:0; width:55px; padding-left:20px; background: url(../image/localLine.png) 0 3px no-repeat; color: #fff;}

.legend ul li.spot{background: #fff url(../image/spotIconS.png) 6px 5px no-repeat;}
.legend ul li.spot.over{background: #58C428 url(../image/normalIcon.png) 15px 9px no-repeat; color:#fff;}
.legend ul li.spot.over > .total.over{display:inline-block; position:absolute; right:0; width:55px; padding-left:20px; background: url(../image/localLine.png) 0 3px no-repeat; color: #fff;}

/*신규 위치등록*/
.newPosition { top: 11.5em; width: 9em; height: 3em;}

.selectAdrdc { top: 2.5em; width: 9em; height: 3em;}
.selectResearch {top: 12em;width: 9em;height: 3em;}

.sAdr{background: #fff url(../image/baseAdrdc1.png) 5px 4px no-repeat;    background-size: 1.4em; width: 7.5em;}
.sRes{background: #fff url(../image/baseAdrdc1.png) 5px 4px no-repeat;background-size: 1.4em;width: 7.5em;}
/* .newPosition button { background-color: transparent !important;position: relative;} */
.newPosition ul {width: 9em;}
.legend ul li.nPos{background: #fff url(../image/plusPos2.png) 7px 4px no-repeat;background-size: 1.2em;width: 7.5em;}
/* .legend ul li.nPos.over{background: #009abf url(../image/normalIcon.png) 15px 9px no-repeat; color:#fff;}
.legend ul li.nPos.over > .total.over{display:inline-block; position:absolute; right:0; width:55px; padding-left:20px; background: url(../image/roadLine.png) 0 3px no-repeat; color: #fff;} */

/*mapBox*/
.mapWrap{width:300px;max-width: 400px; color: #2c3538; background-color: white; border-radius: 0.3em; }
.mapRow{display:block;position:relative; width: auto;}
.box1{float:left; display:inline-block; width:15px; height:15px; background: url(../image/box1.png) 0 0 no-repeat;}
.box2{height:15px; margin-right:15px; width:auto; background: url(../image/box2.png) 10px 0 no-repeat;}
.box3{position:absolute; float:right; top:0; right:0; display:inline-block; width:15px; height:15px; background:url(../image/box3.png) 0 100% no-repeat;}
.box7{float:left; display:inline-block; width:15px; height:30px;background:url(../image/box7.png) 0 0 no-repeat;}
.box8{width:auto; height:30px; margin-right:5px; background: url(../image/box8.png) 5px 0 no-repeat;}
.box8_infobulle{width:auto; height:30px; margin-right:5px; background:url(../image/box8_infobulle.png) 50% 0 no-repeat;}
.box9{position:absolute; float:right; bottom:0; right:0; display:inline-block; width:15px; height:30px;background:url(../image/box9.png) 0 100% no-repeat;}

/*map Info*/
.mapContent{display:block; width:100%; background-size: contain; color: #666; font-size: 0.9em;line-height: 1.4em;}
.mapInfo{position:relative; display:block; padding:1.4em 1.8em; }
.infoLine{border-top:1px solid #e5e5e5; padding-top: 0.3em; margin: 0 1.5em; }
.infoLine:last-child { border-top: 0; }
.mapAdd{display: inline-block; position: absolute; top: 1.5em; right: 20px; width: 30px;}
.mapAdd span { line-height: 1.5em; }
.mapInfo0{position:relative; display:block; padding:5px 25px 20px 25px; background:url(../image/box4.png) 0 0 no-repeat;}
.mapInfo0 > .mapAdd{display: inline-block; position: absolute; top: .4em; right: 20px;}
.mapInfo1{position:relative; display:block;  padding:6px 25px; background:url(../image/box4.png) 0 0 no-repeat;}
.mapInfo1 > .infoLine{border-top:1px solid #e5e5e5; padding-top: 15px;}
.mapInfo1 > .mapAdd{display: inline-block; position: absolute; top: 1.4em; right: 20px;}
.info{ display: inline-block; padding:0 15px; background: url(../image/infoLine.png) 0 6px no-repeat}
.info:FIRST-CHILD{padding:0 15px 0 0;background:none}
.iconPosition{text-align: center;}

.localTitle{margin-bottom:5px; font-weight: bold; color: #000;}
.titleIcon_number{ position:relative; top:5px; display:inline-block; width:25px; height:17px; background:url(../image/iconNumber.png) 0 0px no-repeat;}
.titleIcon_building{position:relative; top:5px;  display:inline-block; width:25px; height:17px;background:url(../image/iconBuilding.png) 0 0 no-repeat;}
.boldColor{color: #000;}

.mapBtn{width:auto; border-top:1px solid #e5e5e5; margin:15px 0 0 0; padding: 17px 0  0 0; text-align: center;}
.mapBtn >.btnPoint {display:inline-block; margin:0 3px; padding:5px 35px; background-color: #496388; color:#e5e5e5;text-shadow: none;font-size: 1.1em}
.mapBtn >.btnNormal{display:inline-block; margin:0 3px; padding:5px 35px; background-color: #c0c0c0; color:#fff;text-shadow: none; font-size: 1.1em}



/************* 팝업 ****************/

/*top*/

.detailView {position:fixed;bottom:0; width:100%; height:830px;left: 0px;}
.detailView >p.openImage{display: block; text-align: center}
.detailView >p >span{display:inline-block; width:76px; background:url(../image/open_image.png) 0 0 no-repeat;text-indent: -9999em;}

/*layout*/
.infoWrap{ bottom:0; width:auto; height:100%; padding:20px; background-color:#3b3a40; overflow: hidden;}
.infoHeader {height:28px; padding:15px 20px; background-color: #0071bf ;color:#fff;}
.infoContent{width:auto; height: 640px ;padding:20px; overflow-y: scroll ;background-color:#f5f7f8}
.infoListContent{width:auto; height: 695px ; overflow-y: scroll ;background-color:#f5f7f8}
.infoFooter{padding:10px 20px 0 20px; text-align: center;}

/*title photo*/
.infoHeader >.title{font-size: 1.5em; text-shadow: none; text-align: left; position:relative;}
.infoHeader >.title > .titleIcon{display: inline-block; margin-right:10px; width: 30px; height: 35px; border-radius:2px; text-align:center; background-color: #f5f7f8}
.infoHeader >.title > .titleIcon >img{margin-top: 4px;}
.infoHeader >.title > .label{position: absolute;top:3px}
.infoHeader >.title > .label.acrdc{position: relative; top: -6px; padding-right: 10px;}
.infoHeader >.title > .location{position: relative; top: -7px; font-size: 0.8em;}
.infoHeader >.title > .listLabel{position: absolute;top:0px;left:179px}
.infoHeader >.title > .listLabel2{position: absolute;top:0px;left:280px}
.infoHeader >.photo{position:absolute; top:50px; right:40px; width:42px; height:37px; background:url(../image/photo.png) 100% 100% no-repeat;}
.infoHeader >.photo>.photoNum{display:inline-block; width:26px; height:26px;padding:4px 0 2px 0; background:url(../image/num.png) 0 0 no-repeat;text-align:center; font-size: 0.8em;}

/*infoTable*/
.infoTable { display: table; min-width:320px; width:100%; border:0; border-collapse: collapse; overflow-y: scroll; }
.infoTable .row{display: table-row; text-align: left}
.infoTable .cell1{display: table-cell; width:30%; border-bottom: 1px solid #e5e5e5; padding: 12px 30px; background-color:#adadad; vertical-align: middle; color: #fff;}
.infoTable .cell2{display: table-cell; width:auto; border-bottom: 1px solid #e5e5e5; padding: 4px 11px; background-color:#f5f7f8; vertical-align: middle;}
.infoTable .cell1 > span.label{margin: 0;font-weight: normal;text-shadow: none;}
.infoTable .cell2 p { margin-top: 0px; padding: 7px 14px; height: 1.2em; overflow: hidden; width: 25em; white-space: nowrap;text-overflow: ellipsis;}
.infoTable .cell2 p.edit { border: 1px solid #c5c5c5 ;}
.infoTable .cell2 p.vertBut{display: inline-block; overflow: inherit; width: auto;}
.infoTable .cell3{display: table-cell; width:auto; border-bottom: 1px solid #e5e5e5; padding: 14px 4px; vertical-align: middle; width: 14.8em; text-align: center}
.infoTable .cell4{display: table-cell; width:auto; border-bottom: 1px solid #e5e5e5; padding: 14px 4px; background-color: #e1e2e2; vertical-align: middle; width: 14.8em; text-align: center}

/*.infoTable .cell2 p:FIRST-CHILD{margin-top: 0px;}*/
.infoTable .cellNo{display: block;width:auto;border-bottom: 0 none;padding:0;background-color: #f5f7f8; vertical-align: middle;}

/*button*/
.btnPoint{display:inline-block; margin-left:10px; padding:10px 90px; background-color: #0071bf; color:#e6e6e6}
.btnNormal{display:inline-block; margin-left:10px ; padding:10px 90px; background-color: #9d9ca1; color:#fff}

/*setting*/
.dataWrap{display: inline-block; position:absolute; top:95px; right:20px; width: 360px; border:1px solid #e3e5e6; box-shadow:1px 1px 1px #eef0f1; padding:5px; background-color: #fff; }
.dataTItle{display: block; margin-bottom:20px; padding:10px 15px;background-color: #496388; text-align: left;color: #fff; text-shadow: none;}


.subTitle{display: block; padding: 0 20px 0 15px; text-align: left;text-shadow: none;}

.dataForm{display: table; border:0;border-collapse:collapse; margin: 10px 15px 0 10px}
.dataForm .row{display: table-row; text-align: left}
.dataForm .cell{position:relative; display: table-cell; padding:2px 0; vertical-align: middle;}
.dataForm .cell2{position:relative; top:-2px ;display: table-cell; padding:0; vertical-align: middle;}
.dataForm span.label{display:inline-block; height:18px;font-weight:normal; text-shadow: none; text-align: left; font-size: 0.8em}
.inputRadio {display: inline-block; width:27px;height:18px; float: left; top: 0;}

.inputText{display: inline-block; position:inherit; }
.ui-input-text, .ui-input-search {margin:0;}
.ui-corner-all {-webkit-border-radius: 0; border-radius:0;}
/*.ui-input-text input, .ui-input-search input{margin: 0; min-height: 2em; padding: .3em; line-height: 1.2em; background: #fff none; font-size: 1em }*/
.ui-radio >input{margin:0; width: 16px; position: absolute; top:-8px;}
div.ui-checkbox, div.ui-radio {margin: .55em 0;position: relative;}
.cell2 >.radioBox> div.ui-checkbox, .cell2 >.radioBox >div.ui-radio {margin: .8em 0;position: relative;}

.dataBtn{border-top:1px solid #e5e5e5; text-align: center; margin-top:20px; padding: 20px 0  15px 0;}
.dataBtn >.btnPoint{display:inline-block; margin-left:5px ; padding:8px 50px; background-color: #496388; color:#fff;text-shadow: none; font-size: 0.8em}
.dataBtn >.btnNormal{display:inline-block; padding:8px 50px; background-color: #c0c0c0; color:#e5e5e5;text-shadow: none;font-size: 0.9em}
.dataClose{position: absolute;top:15px;right:20px}

/************* 사진 ****************/
.photoWrap{display: none; border:1px solid #e3e5e6; box-shadow:1px 1px 1px #eef0f1; padding:5px; background-color: #fff; }
.photoTitle{padding:10px 15px;background-color: #496388; text-align: left;color: #fff; text-shadow: none;}
.photoPage{display: inline-block; position: absolute; top: -5px;right: 0}
.photoPage li{ display: inline-block; list-style: none;padding: 0 20px; background: url(../image/menuLine.png) 0 3px no-repeat;}
.photoPage li:FIRST-CHILD{background: none;}
.pic_on, .pic_over{ }

.photoTable{min-width:320px; width:100%; border-collapse:collapse;}
.photoTable .row{display: table-row; text-align: left;}
.photoTable .cell{display: table-cell; padding:0 10px;  vertical-align: middle;}
.photoTable .photoTItle{display: block; margin-bottom:10px; padding:10px 15px;background-color: #496388; text-align: left;color: #fff; text-shadow: none;}

.photoSub{display:inline-block; text-align: center; padding-top: 15px; padding-bottom: 15px; width: 320px; margin-bottom:5px; color: #000;font-weight: 500;}
.picInfo{padding:5px; background-color:#fff; vertical-align: middle; color: #fff;}
.picImg{display:inline-block; width: 320px; height: 240px; line-height: 240px; text-align: center; background: #ccc url(../image/picImg.png) 50% 50% no-repeat;  box-shadow:3px 3px 5px rgba(0, 0 , 0, .1);}
.picImg img {max-height: 100%; vertical-align: middle;}
.photoNotice{text-align : center; color: red}
/************* 사진(END) ****************/

/*board table*/
table{width:100%; border:0; border-collapse:collapse;}
table caption{display: none}
.tableWrap{border-top:1px solid #000 !important; margin-bottom: 0px; border-bottom:1px solid #000;}

.titleTitle{}
.dataTable {border-bottom:1px solid #bbb;}
.dataTable  thead tr th{border-bottom: 1px solid #666;}
.dataTable  tbody tr ~ tr td {border-top:1px solid #bbb;}
/* .dataTable  tbody tr ~ tr th {border-top:1px solid #bbb; padding:15px 20px; background-color: #adadad; text-align:center; color:#ffffff} */
.dataTable  th{ border-top:1px solid #bbb; padding:2px 20px; background-color: #adadad; color:#ffffff; text-align:center; }
.dataTable  td {border-top:1px solid #bbb; padding:2px 20px; line-height: 20px;}
.dataTable  tr.selected {background: #fdfcce; color:#000;}
.dataTable  td.noLine {border-left: none}
.dataTable  td.sampleImage{padding:10px 30px 10px 0px; vertical-align: middle; text-align: center;}

/*map position*/
.position{position: absolute;left: 20px; bottom: 0;}

/**************** width ****************/
.cell10{ width:10%;} .cell15{ width:15%;}
.cell20{ width:20%;} .cell25{ width:25%;}
.cell30{ width:30%;} .cell33{ width:33%;} .cell35{ width:35%;}
.cell40{ width:40%;} .cell45{ width:45%;}
.cell50{ width:50%;} .cell55{ width:55%;}
.cell60{ width:60%;} .cell65{ width:65%;}
.cell70{ width:70%;} .cell75{ width:75%;}
.cell80{ width:80%;} .cell85{ width:85%;}
.cell90{ width:90%;} .cell95{ width:95%;}
.cell100{ width:100%;}
.auto{ width:auto;}

.w25{width: 25px;}
.w35{width: 35px;}
.w45{width: 45px;}
.w55{width: 55px;}
.w60{width: 60px;}
.w75{width: 75px;}
.w80{width: 80px;}
.w90{width: 90px;}
.w100{width: 100px;}
.w120{width: 120px;}
.w140{width: 140px;}
.w150{width: 150px;}
.w160{width: 160px;}
.w180{width: 180px;}
.w200{width: 200px;} .w230{width: 230px;} .w245{width: 245px;}
.w300{width: 300px;}
.w320{width: 320px;}
.w370{width: 370px;}
.w420{width: 420px;}
.w470{width: 470px;}
.w520{width: 520px;}


/**************** scroll ****************/
.infoContent::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.infoContent::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.infoContent::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #adadad;
}

.infoListContent::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.infoListContent::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.infoListContent::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #adadad;
}



#scrollDiv::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#scrollDiv::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#scrollDiv::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #496388;
}


#minwonDiv::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#minwonDiv::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#minwonDiv::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #adadad;
}

/* #detailAddressDiv{height:52em;overflow-y:scroll}
#detailAddressDiv::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#detailAddressDiv::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#detailAddressDiv::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #adadad;
} */
#addressview_contents{height:52em;overflow-y:scroll}
#addressview_contents::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#addressview_contents::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#addressview_contents::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #adadad;
}

/* #baseConfig_page::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#baseConfig_page::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#baseConfig_page::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #adadad;
} */

/** modal*/
/* The Modal (background) */
.ui-dialog-contain{max-width: 100%; background-color: white;top:-5em; padding-bottom: 1em;overflow-y: hidden;}
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}

#memoMask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}

/** 기본설정 화면 */
body{backface-visibility:hidden; display:block;margin:0; padding:0; font-family:'나눔바른고딕','NanumBarunGothic','나눔고딕','NanumGothic','맑은 고딕','MalgunGothic',sans-serif; color:#4d4d4d; word-wrap: break-word;}
.setting{padding: 25px; line-height: 1em; overflow: hidden;}
.setting h2{font-size: 1.25em; color:#0071bf ; font-weight: bold;}

.common{border-bottom: 1px solid #666; margin-bottom: 30px; padding-bottom: 30px; }
.common ul{margin:0; padding: 0;}
.common ul li{margin-left:30px; padding: 0.5em 0; font-size: 1em; text-align: left;}
.common ul li span{display:inline-block; width:100px; color: #000}
.common ul li p{display:inline-block; color: #666}

.settingInfo{position:relative; height:45px; background:url(../image/setIcon.png) 0 0 no-repeat; background-size:45px 45px;  }
.settingInfo h2{margin:0 0 5px 55px; padding-top: 5px;}
.settingInfo .setTxt{display:inline-block; margin-left: 55px; line-height: 1em;  }
.dataContent{margin: 30px 0;}
.dataContent h3{margin-bottom: 5px; background:url(../image/lineBg.png) 0 50% repeat-x;}
.dataContent h3 span{display: inline-block; padding: 5px 10px 5px 0; background-color: #fff}
.dataContent .dataImg{width: 100%; height: 200px; border: 1px solid #ccc; background: #f9f9f9;}
.dataContent .dataImg img{height: 200px}