/** JQuery Mobile override CSS */
.ui-page {
    background: #ffffff;
    height: 94.4%;
    overflow: hidden;
}
.ui-mobile .ui-page-active { overflow: hidden; }
.ui-mobile body { height: 100%; }
.ui-content { height: 100%; padding: 0; }

.ui-header { background: #3b3a40; height: 5.6%; border-width: 0; padding: 0 }
.ui-header .ui-btn { border: 0; height: calc(100% - (.24em + (.7em * 2))); }
.ui-header img { height: 100%; }
.ui-header .ui-title { padding: 1em 0; height: calc(100% - 1em * 2); }
.ui-panel { background-color: #3b3a40; }
.ui-panel .ui-bar { color: #ffffff; }
.ui-panel-position-bottom { top: auto; bottom: -50%; width: 100%; clip: auto; visibility:visible; }
.ui-popup-container {
    max-width: 100% !important;
    top: auto !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100%;
    height: calc(45% + 6px); /** #panel-wrap bottom */
}

/** Custom CSS */
.title { margin-top: 20.5%; text-align: center; }
.title img { width: 32%; }
.title .text { margin-top: .5rem; }
.title .text p { margin: .5rem; }
.title .text .msg { font-size: 3.2vw; }
.title .text .ver { font-size: 3vw; color: rgb(71,154,231);}

.main {
    height: 100%; border-width: 0; padding: 0;
    background-image: url('../img/main/menu_bg.png');
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
}
.menu_list { margin: 2% 15%; }
.menu_list .ui-btn { padding: 0; border: 0; }

.ui-panel img.btn-closer { width: 4vw; }
.ui-panel .btn_panel { position: absolute; bottom: 0; }
#bottom_panel img { width: 4vw; }

#panel-wrap { position: absolute; width: 100%; bottom: -6px; text-align: center; }
#panel-wrap .popup-btn { margin: 0; padding: 0; border: 0; }
#panel-wrap .popup-btn img { width: 12%; }
#popup-content { background: #3b3a40; height: 100%; padding: 1%; }
#popup-content .ui-bar { background: #035da6; margin: 0; padding: 1%; color: #ffffff; }
#popup-content .ui-body { padding: 0; float: left; height: 100%; clear: none; }
#popup-content .ui-body:first-of-type { width: 79%; overflow-y: scroll; background: #f0f0f0; margin-right: 1%;}
#popup-content .ui-body:last-of-type { width: 20%; overflow-y: hidden; background: #434958; }
#popup-content .ui-body div { width: 100%; }
#popup-content .ui-body div.memo { height: 25%; }
#popup-content .ui-body div.memo textarea { height: 100% !important; margin: 2%; width: 96%; }
#popup-content .ui-btn { padding: 0; border: 0; }
#popup-content .ui-btn:last-of-type { position: fixed; bottom: 0; width: 20%; }
#popup-content .img-placeholder { width: 100%; height: 40%; background-color: #ffffff; }
